<html>
  <head>
    <meta charset='UTF-8' />
    <title>{{subject}}</title>
    <style>
      body {
        font-family: Arial, sans-serif;
        background-color: #f4f4f4;
        margin: 0;
        padding: 0;
      }
      .container {
        max-width: 600px;
        margin: 20px auto;
        background-color: #ffffff;
        padding: 20px;
        border-radius: 8px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
      }
      .header {
        background-color: #007bff;
        color: #ffffff;
        padding: 10px;
        text-align: center;
        border-radius: 8px 8px 0 0;
      }
      .content {
        padding: 20px;
        text-align: center;
      }
      .button {
        display: inline-block;
        padding: 10px 20px;
        background-color: #007bff;
        color: #ffffff;
        text-decoration: none;
        border-radius: 5px;
        margin-top: 20px;
      }
      .footer {
        text-align: center;
        font-size: 12px;
        color: #777777;
        margin-top: 20px;
      }
    </style>
  </head>
  <body>
    <div class='container'>
      <div class='header'>
        <h1>Welcome to Learn NestJS</h1>
      </div>
      <div class='content'>
        <p>Hello {{name}},</p>
        <p>Thank you for using our NestJS application! This is a test email sent
          using Handlebars template.</p>
        <a href='{{link}}' class='button'>Visit Our Website</a>
      </div>
      <div class='footer'>
        <p>&copy; 2025 Your App. All rights reserved.</p>
      </div>
    </div>
  </body>
</html>